:host .wrapper-block {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

:host h2 {
  margin: 0;
}
