:host .password-strength-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

:host .color-blocks {
  display: flex;
}

:host .color-block {
  width: 50px;
  height: 10px;
  margin-right: 5px;
  background-color: gray;
  display: inline-block;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.685);
}

:host p {
  margin: 0;
  font-weight: bold;
}

:host .red {
  background-color: red;
}

:host .yellow {
  background-color: yellow;
}

:host .green {
  background-color: green;
}
