<div class="password-strength-container">
  <div class="color-blocks">
    <div
      class="color-block"
      [ngClass]="{
        red: passwordStrength === 'short' || passwordStrength === 'weak',
        yellow: passwordStrength === 'medium',
        green: passwordStrength === 'strong'
      }"
    ></div>
    <div
      class="color-block"
      [ngClass]="{
        red: passwordStrength === 'short',
        yellow: passwordStrength === 'medium',
        green: passwordStrength === 'strong'
      }"
    ></div>
    <div
      class="color-block"
      [ngClass]="{
        red: passwordStrength === 'short',
        green: passwordStrength === 'strong'
      }"
    ></div>
  </div>
  <p>
    {{
      !value
        ? "Enter your password"
        : passwordStrength === "short"
        ? "Your password is too " + passwordStrength + " (min 8 symbols)"
        : "Your password strength is " + passwordStrength
    }}
  </p>
</div>
