<div class="password-strength-container">
  <div class="color-blocks">
    <div
      class="color-block"
      [ngClass]="{
        red:
          passwordStrength === passwordStrengthEnum.SHORT ||
          passwordStrength === passwordStrengthEnum.WEAK,
        yellow: passwordStrength === passwordStrengthEnum.MEDIUM,
        green: passwordStrength === passwordStrengthEnum.STRONG
      }"
    ></div>

    <div
      class="color-block"
      [ngClass]="{
        red: passwordStrength === passwordStrengthEnum.SHORT,
        yellow: passwordStrength === passwordStrengthEnum.MEDIUM,
        green: passwordStrength === passwordStrengthEnum.STRONG
      }"
    ></div>

    <div
      class="color-block"
      [ngClass]="{
        red: passwordStrength === passwordStrengthEnum.SHORT,
        green: passwordStrength === passwordStrengthEnum.STRONG
      }"
    ></div>
  </div>
  <p>
    {{
      !value
        ? "Enter your password"
        : passwordStrength === "short"
        ? "Your password is too " + passwordStrength + " (min 8 symbols)"
        : "Your password strength is " + passwordStrength
    }}
  </p>
</div>
