:host input {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #f8f8f8;
}

:host input:focus {
  outline: none;
  border-color: gray;
}

:host .input-block {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

:host .eyeicon {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 24px;
  background-color: #fff;
  padding-left: 5px;
}
