<div class="input-block">
  <input
    [type]="passwordFieldType"
    [id]="fieldName"
    [name]="fieldName"
    [value]="value"
    [disabled]="isDisabled"
    (input)="onChange($event)"
    (blur)="onTouched()"
    placeholder="Enter password"
  />

  <span
    class="eyeicon"
    type="button"
    [title]="passwordFieldType === 'text' ? 'Hide password' : 'Show password'"
    (click)="togglePasswordVisible()"
  >
    <mat-icon>{{
      passwordFieldType === "text" ? "visibility_off" : "visibility"
    }}</mat-icon>
  </span>
</div>
